body img{
	width:20px;
}
.conteudoContainer{
	position: relative;
	float:left;
	width:1050px;
	min-height:600px;
	margin-bottom:20px;
	background-color:white;
	box-shadow: 5px 5px 5px #262626;
	border-radius: .25rem;
	color:black;
	margin-left:10px;
}
.container{
	margin-top:10px;
	border-radius: .25rem;
}
.formularioContainer{
	margin:50px;
}
table{
	color:black;
}
table img {
	width:25px;
	fill:black;
}
 ul{
	list-style-type:none;
}
.barraSuperiorContainer{
	background-color:#424242;
	border:1px solid #424242;
	box-shadow: 0px 4px 3px lightgrey;
	padding:5px;
	color:white;
	border-radius: .25rem;
	min-width:100%;
	margin:0px;
	margin-bottom:10px;
	text-align:center;
}
.barraSuperiorContainer span{
	margin-right:5px;
	min-width:100%;
}
.tabela{
	color:black;
	min-width: 100%;
	padding:5px;
	margin-top:10px;
}
.tabela td{
	border: 1px solid lightgrey;
}
.tabela tr:hover{
	background-color: lightgrey;
}
.tabela th{
	border: 1px solid lightgrey;
	text-align:center;
}
.imagemTabela{
	width:25px;
}
.centralizarTabela{
	text-align:center;

}

.menuSuperior{
	float:right;
	width:400px;
	text-align:right;
	padding-right:10px;
}
.menuSuperior a{
	color:white;
}
.espacoMenuSuperior{
	padding:20px;
	width:50px;
}
.footer{
	clear:both;
	margin-top:20px;

}

.linha{
	border-bottom: 2px solid #DC0000;
	box-shadow: 0px 4px 3px lightgrey;
}
body{
  background: #656563;
  margin: 0;
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #fff;
  padding-left: 240px;
}
main {
  position: relative;
  height: 100vh;
}

.menu {
  background: #262626;
  height: 100vh;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  outline: none;
  border:1px solid #262626;

}
.menu .avatar {
  background: #DC0000;
  padding: 2em 0.5em;
  text-align: center;
}
.menu .avatar img {
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}
.menu .avatar h2 {
  font-weight: normal;
  margin-bottom: 0;
}
.menu ul {
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
}
.menu ul li {
  padding: 0.5em 1em 0.5em 3em;
  font-size: 1.1em;
  font-weight: regular;
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: auto 25px;
  transition: all 0.15s linear;
  cursor: pointer;
  margin-bottom: 5px;
}
.menu a{
	text-decoration: none;
	color: white;
}
.menu .icon-log-out{
	background-color: rgb(39, 39, 39);
}
.menu ul li.icon-user {
  background-image: url("http://www.entypo.com/images/user.svg");
}
.menu ul li.icon-users {
  background-image: url("http://www.entypo.com/images/users.svg");
}
.menu ul li.icon-news {
  background-image: url("http://www.entypo.com/images/news.svg");
}
.menu ul li.icon-code {
  background-image: url("http://www.entypo.com/images/code.svg");
}
.menu ul li.icon-add-user {
  background-image: url("http://www.entypo.com/images/add-user.svg");
}
.menu ul li.icon-archive {
  background-image: url("http://www.entypo.com/images/archive.svg");
}
.menu ul li.icon-log-out {
  background-image: url("http://www.entypo.com/images/log-out.svg");
}
.menu ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.menu ul li:focus {
  outline: none;
}
@media screen and (max-width: 900px) and (min-width: 400px) {
  body {
    padding-left: 90px;
  }
  .menu {
    width: 90px;
  }
  .menu .avatar {
    padding: 0.5em;
    position: relative;
  }
  .menu .avatar img {
    width: 60px;
  }
  .menu .avatar h2 {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 100px;
    margin: 0;
    min-width: 200px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    transform: translate3d(-20px, -50%, 0);
    transition: all 0.15s ease-in-out;
  }
  .menu .avatar:hover h2 {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
  }
  .menu ul li {
    height: 60px;
    background-position: center center;
    background-size: 30px auto;
    position: relative;
  }
  .menu ul li span {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.2em 0.5em;
    border-radius: 4px;
    top: 50%;
    left: 80px;
    transform: translate3d(-15px, -50%, 0);
    transition: all 0.15s ease-in-out;
  }
  .menu ul li span:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
  }
  .menu ul li:hover span {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
  }
}

@media screen and (max-width: 400px) {
  body {
    padding-left: 0;
  }
  .menu {
    width: 230px;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
    transform: translate3d(-230px, 0, 0);
    transition: all 0.3s ease-in-out;
  }
  .menu .smartphone-menu-trigger {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 100%;
    background: #5bc995;
  }

  .menu .smartphone-menu-trigger:before,
  .menu .smartphone-menu-trigger:after {
    content: '';
    width: 50%;
    height: 2px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .menu .smartphone-menu-trigger:after {
    top: 55%;
    transform: translate3d(-50%, -50%, 0);
  }
  .menu ul li {
    padding: 1em 1em 1em 3em;
    font-size: 1.2em;
  }
  .menu:focus {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
  }
  .menu:focus .smartphone-menu-trigger {
    pointer-events: none;
  }



